---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section  id="cta" class="pb-20">
  <Container>
    <div
      class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <!-- Background design elements (unchanged) -->

      <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1"
        >
          Want to <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">support</span> us?
        </h1>
        <Paragraph className={"pt-10"}>
          We accept donations which go towards distributing prosthetics.
        </Paragraph>
        <div class="mx-auto max-w-md sm:max-w-xl pt-10">
          <!-- Your Button code here -->
          <Button id="donate-button" variant={"primary"}>
            <span class="text-white relative z-[5]">Donate Here</span>
          </Button>
        </div>
      </div>
    </div>
  </Container>
</section>

<script>
  // JavaScript function to handle the redirect
  function redirectToWebsite() {
    // Replace "https://www.example.com" with the URL of the website you want to redirect to
    window.location.href = "https://www.buymeacoffee.com/prosthetix?new=1";
  }

  const donateButton = document.getElementById("donate-button");
  donateButton.addEventListener("click", redirectToWebsite);
</script>
</body>
</html>
