---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Organizational Objectives
            </Title>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>  Developing and Providing Affordable Prosthetic Solutions: Create cost-effective and accessible prosthetic devices that do not compromise on quality, ensuring affordability for individuals affected by conflict or disaster. 
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>  Foster Research and Innovation: Invest in continuous research and development to pioneer new and improved prosthetic designs that address the unique challenges faced by amputees in conflict or disaster-affected regions.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Promote Human-Centric Design: Collaborate with prosthetists, rehabilitation specialists, and amputees to design prosthetic solutions that are comfortable, adaptable, and tailored to the specific needs and preferences of the users.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Facilitate Training and Education: Establish training programs for local healthcare professionals and amputees to build capacity within affected communities, ensuring proper fitting, maintenance, and effective use of prosthetic devices.
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/dev-with-c.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>
